@use 'sass:map';
@use './data';
@use './palette-tokens';

html {
  font-size: calc(1em / 1.6);
}

body {
  margin: 0;
  padding: 4rem 1.2rem;
  font-family: 'Inter', sans-serif;
  display: grid;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: oklch(15% 0 0);
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;

  font-size: 1.8rem;
  line-height: 1.5;
  color: oklch(20% 0 0);
}

.s-section {
  display: grid;
  justify-items: center;
}

.s-container {
  width: min-content;
  padding: 4rem 0;
}

.c-color-palettes-container {
  display: grid;
  justify-items: center;
  gap: 3.2rem;
}

.c-color-palette {
  display: grid;
  grid-auto-flow: column;
  gap: 1.2rem;
}

.c-color-palette__lightness-variant {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.u-mb-10 {
  margin-bottom: 4rem;
}

$hue-current-value: data.$hue-start-value;

@while $hue-current-value <= 350 {
  $lightness-current-value: data.$lightness-min-value;

  @while $lightness-current-value <= data.$lightness-max-value {
    .c-color-palette__lightness-variant--rc-#{map.get(data.$color-names, $hue-current-value)}#{$lightness-current-value} {
      background-color: var(
        --b__color__#{map.get(data.$color-names, $hue-current-value)}__rc#{data.$relative-chroma}__#{$lightness-current-value}
      );
    }

    $lightness-current-value: $lightness-current-value + data.$lightness-steps;
  }

  $hue-current-value: $hue-current-value + data.$hue-steps;
}

// Reset hue loop value.
$hue-current-value: data.$hue-start-value;

@while $hue-current-value <= 350 {
  $lightness-current-value: data.$lightness-min-value;

  @while $lightness-current-value <= data.$lightness-max-value {
    .c-color-palette__lightness-variant--ac-#{map.get(data.$color-names, $hue-current-value)}#{$lightness-current-value} {
      background-color: var(
        --b__color__#{map.get(
            data.$color-names,
            $hue-current-value
          )}__ac#{data.$absolute-chroma-string}__#{$lightness-current-value}
      );
    }

    $lightness-current-value: $lightness-current-value + data.$lightness-steps;
  }

  $hue-current-value: $hue-current-value + data.$hue-steps;
}
